<% include partials/header.ejs %>
<h1>Compose</h1>
<form method="POST" action="/">
  <input type="text" id="text_area" name="text_area" />
  <button type="submit">Publish</button>
</form>
<% include partials/footer.ejs %>
